.app {
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
}

.character-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.character-item {
  cursor: pointer;
  text-align: center;
}

.character-item img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 8px;
}

.character-detail {
  max-width: 400px;
  margin-left: 20px;
}

.character-detail h2 {
  font-size: 24px;
}

.character-detail ul {
  list-style-type: none;
  padding: 0;
}